<template>
    <div class="container mt-4">
        <div class="d-flex row justify-content-evenly">
            <div class="col-md-5">
                <div class="card shadow">
                    <div class="card-header bg-warning p-0">
                        <img src="https://media.istockphoto.com/id/500369068/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B8%AD%E0%B8%B2%E0%B8%97%E0%B8%B4%E0%B8%95%E0%B8%A2%E0%B9%8C%E0%B8%95%E0%B8%81%E0%B8%9B%E0%B8%A5%E0%B8%B2%E0%B8%A2%E0%B8%A4%E0%B8%94%E0%B8%B9%E0%B9%83%E0%B8%9A%E0%B9%84%E0%B8%A1%E0%B9%89%E0%B8%A3%E0%B9%88%E0%B8%A7%E0%B8%87%E0%B8%9A%E0%B8%99%E0%B8%97%E0%B8%B8%E0%B9%88%E0%B8%87%E0%B8%AB%E0%B8%8D%E0%B9%89%E0%B8%B2%E0%B8%AD%E0%B8%B1%E0%B8%A5%E0%B9%84%E0%B8%9E%E0%B8%99%E0%B9%8C%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%A0%E0%B8%B9%E0%B9%80%E0%B8%82%E0%B8%B2%E0%B9%83%E0%B8%99%E0%B8%AD%E0%B8%AD%E0%B8%AA%E0%B9%80%E0%B8%95%E0%B8%A3%E0%B8%B5%E0%B8%A2.jpg?s=612x612&w=0&k=20&c=G1QsG1MvSdGkh643nnuPObA_o8P0r9TY7fmGmatGNsk="
                            class="card-img-top" alt="img">
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            &copy;เทคโนโลยีสารสนเทศ 2024.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header" style="background-color: #900C3F;">
                        <h5 class="text-white">
                            เข้าสู่ระบบผู้ใช้งาน
                        </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                        <form @submit.prevent>

                            <div class="mb-2">
                                <label for="" class="form-label">อีเมลล์</label>
                                <input type="email" v-model="userForm.email" class="form-control" 
                                    required>
                            </div>
                            <span class="text-danger" v-for="error in v$.email.$errors" :key="error.$uid" :v-if="true">
                                {{ error.$message }}
                            </span>

                            <div class="mb-2">
                                <label for="" class="form-label">รหัสผ่าน</label>
                                <input type="password" v-model="userForm.password" class="form-control"
                                    placeholder="รหัสผ่าน" required>
                            </div>
                            <span class="text-danger" v-for="error in v$.password.$errors" :key="error.$uid" :v-if="true">
                                {{ error.$message }}
                            </span>

                            <div class="d-grid mb-2">
                                <button type="submit" @click="submitForm" class="btn shadow mt-2 text-white" style="background-color: #900C3F;">
                                    เข้าสู่ระบบสมาชิก
                                </button>
                            </div>

                        </form>
                        </p><hr>
                        <div class="mb-2">
                            <p class="text-body text-center">
                                Don't have accout?
                                <router-link :to="{ name: 'signup' }"
                                    class="text-decoration-none font-weight-bolder">SignUp</router-link>
                            </p>
                        </div>

                        <div class="mb-2 text-center">
                            <span class="text-danger">
                                {{ errorUser.userNotFound }}
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import axios from 'axios'
import { reactive, computed } from 'vue';
import { required, email } from '@vuelidate/validators'
import { useVuelidate } from '@vuelidate/core'
import router from '@/router'

const state = reactive({
    name:'dashboard'
})
const userForm = reactive({
    email: "jack@gmail.com",
    password: "1234",
})

//Error message
const errorUser = reactive({
    userNotFound: ""
})

const rules = computed(() => {
    return {
        email: { required, email },
        password: { required }
    }
})

const v$ = useVuelidate(rules, userForm)

const submitForm = async () => {
    const result = await v$.value.$validate()
    if (result) {
        const result = await axios.get(`http://localhost:4000/users?email=${userForm.email}&password=${userForm.password}`)
        console.log(result)
        if (result.status == 200 && result.data.length > 0) {
            localStorage.setItem("user-info",JSON.stringify(result.data[0]))
            // console.log("Logged In")
            alert('Success, from submitted')
            errorUser.userNotFound = "พบผู้ใช้งาน"
            router.push(state.name)
        } else {
            // console.log("No User Found")
            alert('Error, from submitted')
            errorUser.userNotFound = "ไม่พบผู้ใช้งาน"
        }
    } else {
        alert('Error, from submitted')
    }
}


</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

.form-label {
    font-family: 'Sarabun', sans-serif;
}

.btn {
    font-family: 'Sarabun', sans-serif;
}
</style>