<script setup>
import { RouterView } from 'vue-router'
import { useHead } from '@unhead/vue';

import { reactive, computed } from 'vue';

const siteData = reactive({
  title: 'IT',
  description: 'Information technology trat technical campus 1'
})

useHead({
  title: computed(()=>siteData.title),
  meta: [
    {
      name: 'IT',
      content:computed(()=> siteData.description)
    }
  ]
})
</script>

<template>
  <RouterView />
</template>

<style scoped>
  
</style>