<template>
    <div>
        <DashboardHeader />
        <router-view />
        <DashboardFooter />
    </div>
</template>

<script setup>
import DashboardHeader from '@/components/Dashboard/DashboardHeader.vue';
import DashboardFooter from '@/components/Dashboard/DashboardFooter.vue';
import { RouterView } from 'vue-router';
import { toast } from 'vue3-toastify'
import 'vue3-toastify/dist/index.css'

toast.info('ยินดีต้อนรับ แอดมิน', {
  autoClose: 1500,
  position: toast.POSITION.TOP_CENTER,
  transition: toast.TRANSITIONS.FLIP
})
</script>

<style lang="scss" scoped>

</style>